body {
    background-color: black
}

.icon h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    animation: animate 1s infinite linear;
}

@keyframes animate {

    0%,
    100% {
        color: deeppink;
    }

    25% {
        color: deepskyblue;
    }

    50% {
        color: lawngreen;
    }

    75% {
        color: yellow;
    }
}